<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="shortcut icon" href="/images/logo/logo.ico" type="image/x-icon" />
    <title>OnlyFiles</title>
</head>

<body>
    <div class="flex">
        <%- include("sidebar") %>
        <!-- Rest of the folders -->
        <div class="flex-1 p-8 h-min grid gap-4 grid-cols-[repeat(auto-fill,minmax(8rem,1fr))]">
            <% if(locals.currentUser.folders) { %>
            <% currentUser.folders.forEach(folder => { %>
            <% if (folder.parentId === 1) { %>
            <a href="<%= currentUrl %>/<%= folder.name %> " class="flex flex-col justify-center items-center h-32 hover:bg-blue-300 border-2 border-white hover:border-blue-500">
                <img src="/images/folder.webp" alt="" class="flex-1 h-16">
                <%= folder.name %>
            </a>
            <% } %>
            <% }) %>
            <% } %>
        </div>
    </div>
</body>

</html>