<div class="text-white bg-blue-500">
    <ul class="flex flex-col items-center space-y-4 p-8 h-screen">
        <li>
            <a href="/drive" class="flex items-center text-4xl font-bold">OnlyFiles</a>
        </li>
        <li>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" />
            </form>
        </li>
        <li>
            <a href="/drive">HOME</a>
        </li>
        <li class="flex-1"></li>
        <li class=""><a href="logout">LOG OUT</a></li>
    </ul>
</div>
<div class="flex-1"></div>