<div class="text-white bg-blue-500">
    <ul class="flex flex-col justify-start items-center gap-4 p-8 h-screen">
        <li>
            <a href="/drive" class="flex items-center text-4xl font-bold">OnlyFiles</a>
        </li>
        <li>
            <form action="/drive/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="uploadFile" />
                <button type="submit">Submit</button>
            </form>
        </li>
        <li>
            <a href="/drive">HOME</a>
        </li>
        <li class="mt-auto"><a href="logout">LOG OUT</a></li>
    </ul>
</div>
<div class="flex-1"></div>