<div class="text-white bg-blue-500 max-w-xs">
    <ul class="flex flex-col justify-start items-center gap-4 p-8 h-screen">
        <li>
            <a href="/drive" class="flex items-center text-4xl font-bold">OnlyFiles</a>
        </li>
        <li>
            <form action="/drive/create-folder" method="post" class="mb-8 p-1 flex flex-col rounded-xl text-black bg-white text-center">
                <label for="newFolder">Create new folder</label>
                <input type="text" name="newFolder" id="newFolder" placeholder="Folder name" class="p-2 rounded-xl border-2 border-gray-400" value="<%= locals.folderName && folderName.newFolder ? folderName.newFolder : '' %>" required>
                <%- include("partials/folderErrors.ejs") %>
                <button type="submit" class="mt-4 px-8 py-2 w-full border-2 text-white bg-blue-500 border-blue-500 rounded-xl font-bold hover:bg-blue-700 hover:border-blue-700">Create folder</button>
            </form>
            <form action="/drive/upload" method="post" enctype="multipart/form-data" class="p-1 flex flex-col rounded-xl text-black bg-white text-center">
                <label for="newFile" class="cursor-pointer px-8 py-4 rounded-lg border-dashed border-4 border-blue-500 hover:border-blue-700">Select file</label>
                <input type="file" name="newFile" id="newFile" class="hidden" />
                <button type="submit" class="mt-4 px-8 py-2 w-full border-2 text-white bg-blue-500 border-blue-500 rounded-xl font-bold hover:bg-blue-700 hover:border-blue-700">Upload file</button>
            </form>
        </li>
        <li>
            <a href="/drive">HOME</a>
        </li>
        <li class="mt-auto"><a href="logout">LOG OUT</a></li>
    </ul>
</div>
<div class="flex-1"></div>